/*Reset CSS
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------*/
#main
{
	background:rgb(255,255,255);
	
}

#head
{
	background:rgb(255,255,255);
}

.menu
{
	list-style: none;
}

.menu ul
{
	margin-top: 10px;
}
.menu ul li
{
	display: inline;
	margin-left: 25px;

}
.menu ul li a
{
	
	font-family: Helvetica;
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	color: rgb(68,68,68);

}
.rightmenu
{
	list-style: none;
	
	
}

.rightmenu ul
{
	margin-top: 10px;

}

.rightmenu ul li
{
	display: inline;
	margin-left:1px;

} 

.rightmenu ul li a
{
	font-family: Myraid Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	color: rgb(68,68,68);

}
#fblogo
{
	margin-top: 20px;	
}
#bottomline
{
	border-bottom:solid 1px;
	border-color: rgb(68,68,68);
}
#wraper_signup
{
	width: 100%;
	background:rgb(255,194,88);

}

.innerwrapper
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	height: 505px;
	background: url("../images/back1.jpg");
	
}

.middle_container
{
	
	height: 505px;

}
.bottomlink
{
	list-style: none;
}

.bottomlink ul
{
	margin-top: 18px;

}

.bottomlink ul li
{
	display: inline;
	margin-left:1px;

} 

.bottomlink ul li a
{
	font-family: Myraid Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: rgb(68,68,68);

}


.bottomlink1
{
	list-style: none;
}

.bottomlink1 ul
{
	margin-top: 18px;

}

.bottomlink1 ul li
{
	display: inline;
	margin-left:1px;

} 

.bottomlink1 ul li a
{
	font-family: Myraid Pro;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	color: rgb(68,68,68);
	

}

#copywrite
{
	margin-top: 18px;
	font-family: Myraid Pro;
	line-height: 16px;
	color: rgb(136,136,136);
	font-size: 12px;
}
#image
{
margin-top: 10px;
}
#sandBox
{
	margin-top:77px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 16px;
	line-height: 40px;
	color: rgb(34,34,34);
}
#sandText
{

	font-family: Helvetica;
	font-weight:bold;
	font-size: 12px;
	line-height: 18px;
	color: rgb(85,85,85);
}

.leftmiddle
{
	text-align: center;
}

#signuplogo
{
	margin-top: 48px;
	margin-left: 10px;
}

#signup_Text
{
	margin-top: 45px;
	font-size: 30px;
	font-family: Helvetica;
	font-weight: normal;
	line-height: 52.4px;
	color: rgb(67,19,19);
}
#row1
{
	height: 104px;
}

#signupbtn
{
	margin-top: 20px;
}
.formComponent >form > input
{
	height: 40px;
	width: 300px;
	margin-top: 17px;
	border: solid 1px;
	border-color: rgb(241,166,47);

}
#question
{
	font-family:Helvetica; 
	font-size:14px; 
	line-height: 40px;
	color: rgb(85,85,85);

}
#login
{
	color: rgb(17,17,17);
}

.socialNetwork
{
	margin-top: 20px;
}




