/*Reset CSS
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------Fonts*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 21, 2014 */



@font-face {
    font-family: 'georgiaregular';
    src: url('../fonts/georgia.eot');
    src: url('../fonts/georgia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgia.woff') format('woff'),
         url('../fonts/georgia.ttf') format('truetype'),
         url('../fonts/georgia.svg#georgiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---------------------------------------*/
#main
{
	background-color:#f4f5f6;
}

.container
{
	width: 940px;
	margin: auto;
}

.menu{
	width: 500px;
	height: 40px;
	float: left;
	
}
nav{
	width: 100%;
	height: 40px;
	background-color:#3355aa;
}
nav ul
{
	list-style: none;
	padding-top: 13px;
	
}
nav li
{   
	display: inline;
    margin-right: 10px;
    padding-left: 10px;
    background: url("../images/seperator.jpg");
    background: top-right;
    background-repeat: no-repeat;



}
nav li a
{
	
    display: inline-block;
    font-size:15px;
    height: 40px;
    font-style: italic;
    font-family:georgia;
    text-decoration: none;
    color: white;
    text-shadow:1px 1px #114499;


}
.search
{
	width: 168px;
	height: 40px;
	float: left;
	margin-left: 200px;
}
.field
{
background-color:#214193;
margin-top: 5px;
height: 20px;
width: 168px;
font-style: italic;
font-family:georgia;
color:#A9B1CE;
border-radius: 5px;
border-color:#0F2356;
padding: 3px; 
}
.searchLogo
 {
 	margin-left: 20px;
 	margin-top:5px;
 	width: 10px;
	height: 30px;
	float: left;
 	
 }
 .clear
 {
 	clear: both;
 }
 .slider
{
  	width: 450px;
  	height: 430px;
  	float: left;
  	margin-top: 35px;
 }
 .slider_img
{
	box-shadow: 3px 3px 5px #888888;

}
.we_do1
{
	width: 230px;
	height: 342px;
	margin-top:31px;
	float: left;

}
.heading
{
	font-family:nevis;
	font-size: 16px;
	color:#666666;
	font-weight:bold;
	line-height: 36px;
}
.content
{
	font-family:georgia;
	font-size: 13px;
	color:#666666;
	line-height:200%;

}
.border
{
	width: 249px;
	border-bottom: solid 3px;
	border-color: #eebe00;
	margin-top: 0px;
}
.operate
 {
	font-family:nevis;
	font-weight: bold;
	font-size: 16px;
	color:#3355aa;
	font-weight:bold;
	line-height: 36px;
	text-decoration: none;
}
.anouncement
{
  	width: 220px;
	height: 342px;
	margin-top:31px;
	margin-left: 40px;
	float: left;
 	
}

.content1
{
	font-family:georgia;
	font-size: 13px;
	color: black;
	line-height:18px;
	font-style: italic;
	text-decoration: none;

}
.border1
{
	width: 220px;
	border-bottom: solid 3px;
	border-color: #eebe00;
	margin-top: 0px;
}
.by
{
	font-family: Georgia;
	font-size: 10px;
	line-height: 16px;
	color: #888888;
}
.amol
{
	color: black;
	text-decoration: none;
}
.viewmore
{
	font-size: 13px;
	font-family: Georgia;
	color: #3355aa;
	line-height: 18px;
	font-style: italic;
	text-decoration: none;
}

.lorem li
{
	margin-bottom: 25px;
}
.sectors_we_work_in
{
	text-align: center;
	height: 70px;
	
}
.sector_heading
{
	font-family:navis;
	font-size: 28px;
	line-height: 36px;
	color:#444444;
	font-weight:bold;
	text-align: center;
}
.sector1
{
	
	width: 174px;
	height: 265px;
	float: left;
	box-shadow: 1px 1px 5px #888888;
	text-align: center;
	border-color: rgb(220.221,222);
}
.title
{
	margin-bottom: 5px;
	font-family:georgia;
	line-height: 13px;
	font-size: 13px;
	color: rgb(51,85,170);
	margin-top: 24px;
	text-align: center;

}
.sectors_img
{
	max-width: 165px;
	max-height: 200px;

}
.sector2
{
	margin-left: 15px;
	width: 174px;
	height: 265px;
	float: left;
	box-shadow: 1px 1px 5px #888888;
	padding: 1px;
	text-align: center;
}
.responsibleImg
{
	max-width: 165px;
	max-height: 200px;
	margin-top: 13px;
}
.grid
{
	margin-bottom: 40px;
}
.wrapperFotter
{
	background: url("../images/pattern.jpg");
	background-repeat:repeat;	
	box-shadow: 1px 0px 3px black;
}
.ft
{
	height: 110px;
}

.link1
{
	float: left;
	list-style: none;
	
	
}
.footer1
{
	padding-top: 19px;
	

}
.footer2
{
	margin-top: 17px;
	/*border-top: solid 2px #3d3d3d;*/

}
.border2
{
	width: 940px;
	border-bottom: solid 0.5px gray;;
	box-shadow: 0px 0.5px 0.5px black;
}
 .footer1 ul li
 {
 	display: inline;
 }

.link1 li a
{
	
    display: inline-block;
    padding: 0px;
    font-size:14px;
    font-family:georgia;
    text-decoration: none;
    color: #aaaaaa;
    font-weight:900;
    text-shadow:1px 0px 3px black;


}
.link2
{
	float:right;
	list-style: none;
	text-decoration: none;
	
}
.fonts
{
 font-size: 11px;
 color: #aaaaaa;
 text-decoration: none;
}
.copyright
{
	
	margin-top: 15px;
	color: rgb(170,170,170);
	font-family:georgia;
	font-size: 11px;
	float: left;
}

.follow
{
	
	margin-top: 15px;
	color: rgb(170,170,170);
	font-family:georgia;
	font-size: 11px;
	float: right;

}

 .footer2 ul li
 {
 	display: inline;
 }

.footer2 li a
{
	display: inline-block;
    padding: 0px;
    font-size: 11px;
    font-family:georgia;
    text-decoration: none;
    color: #aaaaaa;
    font-weight:900;
     text-shadow:1px 0px 3px black;

}
.followText
{
	margin-top: 15px;
	margin-right: 5px;
	color: rgb(170,170,170);
	font-family:georgia;
	font-size: 11px;
	float: right;	
}

nav ul li a:hover
{
	color:black;
}

.wrapper1 .we_do1 a:hover
{
	color: gray;
}
				
.anouncement a:hover
{
	color: gray;
}	
.wrapperFotter .ft  .footer1 ul li a:hover
{
	color:white;
}
