/*Reset CSS
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#main
{
	width: 100%;
	background-color: rgb(255,255,255);

}
header
{
	width:940px;
	margin: auto;

}

#mainlogo
{
    margin: 10px 0 0px 20px;
    
}

nav
{
	width:100%;
	height: 40px;
   	background-color:rgb(51,85,170);
}
#nav_wrapper
{
	width:940;
	margin: auto;
	
}

#menu
{
	width: 600px;
	height: 40px;
	float: left;
	margin-left: 230px;

}
nav ul
{
	list-style: none;
	margin-left: 10px;
	width: 600px;


}
nav li
{   

	display: inline;
    padding-left: 10px;
    background-color:rgb(51,85,170);
    
}
nav li a
{
	margin-top: 5px;
	margin-bottom: 5px;
    display: inline-block;
    padding: 5px;
    font-size:15px;
    font-style: italic;
    font-family:georgia;
    text-decoration: none;
    color: white;

}
.seprator
{
	margin-top: 8px;
}
#search
{
	width: 100px;
	height: 40px;
	float: left;
	margin-left: 150px;
}
#field
{
background-color:rgb(33,65,147);
margin-top: 5px;
height: 20px;
font-style: italic;
font-family:georgia;
color: rgb(169,177,206);
border-radius: 5px;
border-color:rgb(15,35,86);
padding: 3px; 
}

.clear
{
	clear: both;
}

#searchLogo
 {
 	margin-left: 50px;
 	margin-top:5px;
 	width: 100px;
	height: 30px;
	float: left;
 	
 }

 #wraper1
{
  width: 100%;

}
#slider
{
  	width: 540px;
  	height: 430px;
  	margin-left: 170px;
  	float: left;
  	
  	
 }
 #slider_img
{
	margin-left: 82px;
	margin-top: 35px;
	box-shadow: 3px 3px 5px #888888;


}

#we_do
{
  	width: 559px;
  	height: 430px;
  	float: left;
  	
  	
}

.heading
{
	font-family:nevis;
	font-size: 15px;
	color: rgb(102,102,102);
	font-weight:bold;
}
.content
{
	font-family:georgia;
	font-size: 13px;
	color: rgb(102,102,102);
	line-height:200%;

}

#we_do1
{
	width: 249px;
	height: 342px;
	margin-top:31px;
	float: left;

}

#operate
 {
	font-family:Agency FB;
	font-style: italic;
	font-size: 16px;
	color: rgb(51,85,170);
	font-weight:bold;
}

#anouncement
{
  	width: 249px;
	height: 342px;
	margin-top:31px;
	margin-left: 20px;
	float: left;
 	
}

.content1
{
	font-family:georgia;
	font-size: 13px;
	color: black;
	line-height:200%;
	font-style: italic;

}

#wraper2
{
	width: 100%;
}
#sectors
{
	text-align: center;
	height: 70px;
	

}
#sector_heading
{
	font-family:navis;
	font-size: 28px;
	color:rgb(68,68,68);
	font-weight:bold;
	text-align: center;

}
#sector1
{
	margin-left: 250px;
	width: 174px;
	height: 265px;
	float: left;
	box-shadow: 1px 1px 5px #888888;
	text-align: center;
	border-color: rgb(220.221,222);
}

.sector2
{
	margin-left: 17px;
	width: 174px;
	height: 265px;
	float: left;
	box-shadow: 1px 1px 5px #888888;
	padding: 1px;
	text-align: center;
}

.title
{
	margin-bottom: 5px;
	font-family:georgia;
	font-size: 13px;
	color: rgb(51,85,170);
	margin-top: 24px;
	text-align: center;

}


footer
{
	height: 110px;
	width: 100%;
	background:rgb(52,53,53);
	margin-top: 40px;
}
#link1
{
	float: left;
	list-style: none;
	margin-left: 230px;
	width: 500px;
}

 ul li
{   

	display: inline;
}
footer li a
{
	margin-top: 19px;
	margin-bottom: 10px;
    display: inline-block;
    padding: 0px;
    font-size:14px;
    font-family:georgia;
    text-decoration: none;
    color: rgb(170,170,170);
    font-weight:900;

}
#link2
{
	float:right;
	list-style: none;
	width: 600px;
	margin-right: 130px;
}

.fonts
{
 font-size: 11px;
}
#line
{
	margin-left: 250px;
}

#copyright
{
	margin-left: 230px;
	margin-top: 15px;
	color: rgb(170,170,170);
	font-family:georgia;
	font-size: 11px;
	float: left;


}

#follow
{
	margin-right: 270px;

	margin-top: 15px;
	color: rgb(170,170,170);
	font-family:georgia;
	font-size: 11px;
	float: right;

}